*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/*navbar*/
#navbar{
  z-index: 100 !important;
}
.menu{
  background-color: rgba(255, 255, 255, 0.678)
}

.cub span{
  color: #d2b862;
  font-size: 30px;
}

.menu img {
  width: 65px;
  margin-left: 20px;
}

.nav-item .nav-link {
  color: #004e79;
  font-weight: 550;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  margin-left: 20px;
  
}

.tec a{
  background-color: #004e79;
  color: #ffffff;
}

.tec a:hover{
  color: #d2b862;
  background-color: #004e79;
}

/*Navbar*/

/*div*/
.jumbotron {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d2b862;
    background: #004e79;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;  
}
  
.jumbotron:hover{
    color: #ffffff;
}
/*div*/

.card-body{
  text-align: center;
}

.card-body h5{
  font-size: 25px;
  color: #d2b862;
}
.card-body h5:Hover{
  color: #003857;
}

.over{
  border: solid 1px #d2b862;
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
  
}
.over:hover{
  box-shadow: 2px 2px 1rem  #004f798f;
  
}


.cimg{
  transition: all ease 0.5s;
}

.cimg:hover{
  scale: 1.05;
}



/* footer */
#footer {
  background-color: #003857;
  color: white;
   
}

.contenedorfoo{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
}

.container .imgf{
  width: 150px;
  height: 170px;
  border-radius: 100px 100px 100px 100px;
  
}

.contacto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  list-style: none;    
}

.contacto li p{
  color: #d2b862;
  margin-bottom: 10px;
}

.contacto .li1 ul li, .li2 ul li{
  margin-bottom: 10px;
}
.contacto li {
  width: 300px;
  font-family: sans-serif;
    
}

.redes{
  display: flex;
  background-color: #004e79;

}

.iconos{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin: 10px;
  list-style: none;
  
}

.iconos a {
  display: block;
  width: 30px;
  height: 30px;

  color: white;
  padding: 10px 0;
  margin: 10px;
  margin-bottom: 60px;
  border-radius: 50%;
  
  transition: 0.5s ease;
}

.copyright {
  text-align: center;
  background-color: #d2b862; 

}

.span__span{
  color: #004e79;
}
  /* footer */

  @media (min-width: 2000px) {

    /*footer*/
  
    .contenedorfoo{
        display: flex;
        align-items: center;
        padding-top: 30px;
    }
  
    .contacto{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .contacto li{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        font-size: 20px;     
    }
  
    .li1{
        margin-top: 20px;
    }
  
    .li2{
       margin-left: 250px;
    }
  
    .li2 ul {
        display: flex;
        width: 400px;
        list-style: circle;
    }
  
    .copyright{
        font-size: 15px;
    }
    
    
  } 
  
  @media (max-width: 1000px) {
  
    /*footer*/
    .contenedorfoo{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
  
    .contacto li{
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        
    }
  
    .li2{
        margin-left: 200px;
    }
    
  }
  
  @media (max-width: 900px) {
  
    /*footer*/
    .contenedorfoo{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
  
    .contacto li{
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        
    }
  
    .li2{
        margin-left: 200px;
    }
  }
  
  @media (max-width: 800px) {
  
  
  /*footer*/
    .contenedorfoo{
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-top: 15px;
    }
  
    .contacto{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 20px;
    }
    .contacto li{
      display: flex;
      justify-content: center;   
      margin-bottom: 15px;
      font-size: 20px;    
      width: 50%; 
    }
  
    .li1{
      margin-top: 20px;
        
    }
    .li1 .direc{
      margin-left: -10px;
      width: 400px;
        
    }
  
    .li2{
      margin-left: 0px;
      
    }
    .li2 li{
      width: 200px; 
      
    }
  
    .iconos a i{
      width: 100px;
    }
  
    .copyright{
      font-size: 10px;
        
    }
  }
  
  @media (max-width: 700px) {
  
  
    /*footer*/
    .contenedorfoo{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 15px;
    }
  
    .contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
    }
    .contacto li{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        font-size: 20px;     
    }
  
    .li1{
      margin-top: 20px;
      
    }
    .li1 .direc{
      margin-left: -10px;
     
    }
  
    .li2{
        margin-left: 0px;
  
    }
  
    .copyright{
        font-size: 15px;
    }
  }
  
  @media (max-width: 600px) {
  
    /*footer*/
    .contenedorfoo{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 15px;
    }
  
    .contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
    }
    .contacto li{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        font-size: 20px;     
    }
  
    .li1{
      margin-top: 20px;
      
    }
  
    .li1 .direc{
      width:300px;
    }
  
    .li2{
        margin-left: -60px;
  
    }
  
    .copyright{
        font-size: 15px;
    }
  }
  
  @media (max-width: 500px) {
  
  
    /*footer*/
    .contenedorfoo{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 15px;
    }
  
    .container .imgf{
        margin-left: -50px;
        
    }
  
    .contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
    }
    .contacto li{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;  
        font-size: 15px;   
    }
  
    .li1{
        margin-top: 20px;
        margin-left: -100px;
    }
    .li1 .direc{
        margin-left: -10px;
    }
  
    .li2 ul {
        display: flex;
        flex-direction: column;
        width: 200px;
        
    }
  
    .li2{
        margin-left: -60px;
  
    }
  
    .iconos{
        margin-left: -50px;
    }
  
    .copyright{
        font-size: 8px;
        margin-left: -50px;
    }
  }
  
  @media (max-width: 400px) {
  
    /*footer*/
    .contenedorfoo{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 15px;
    }
  
    .contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
    }
    .contacto li{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;     
    }
  
    .li1{
        margin-top: 20px;
        margin-left: -60px;
    }
    .li1 .direc{
        margin-left: -10px;
    }
  
    .li2{
        margin-left: -60px;
  
    }
  }
  
  @media (max-width: 376px) {
  
    /*footer*/
    .contenedorfoo{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 15px;
    }
  
    .container .imgf{
        margin-left: -50px;
        
      }
  
    .contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
    }
    .contacto li{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;  
        font-size: 15px;   
    }
  
    .li1{
        margin-top: 20px;
        margin-left: -60px;
    }
    .li1 .direc{
        margin-left: -10px;
    }
  
    .li2 ul {
        display: flex;
        flex-direction: column;
        width: 200px;
        
    }
  
    .li2{
        margin-left: -60px;
  
    }
  
  
    .iconos{
        margin-left: -50px;
    }
  
    .copyright{
        font-size: 7px;
        margin-left: -50px;
    }
  }
  
  @media (max-width: 300px) {
  
    /*footer*/
    .contenedorfoo{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 15px;
    }
  
    .contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
    }
    .contacto li{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;     
    }
  
    .li1{
        margin-top: 20px;
       
    }
    .li1 .direc{
        margin-left: -10px;
    }
  
    .li2{
        margin-left: 0px;
  
    }
  
    .copyright{
        font-size: 7px;
        margin-left: -50px;
    }
  }  