*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/*navbar*/
#navbar{
  z-index: 100 !important;
}
.menu{
  background-color: rgba(255, 255, 255, 0.678)
}

.cub span{
  color: #d2b862;
  font-size: 30px;
}

.menu img {
  width: 65px;
  margin-left: 20px;
}

.nav-item .nav-link {
  color: #004e79;
  font-weight: 550;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  margin-left: 20px;
}

.tec a{
  background-color: #004e79;
  color: #ffffff;
}

.tec a:hover{
  color: #d2b862;
  background-color: #004e79;
}

/*Navbar*/

/*div*/
.jumbotron {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d2b862;
    background: #004e79;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;  
}
  
.jumbotron:hover{
    color: #ffffff;
}
/*div*/

.titulos{
  text-align: center;
  color: #d2b862;
  text-transform: uppercase;
  font-size: 32px;
}

.info{
  box-shadow: 2px 2px 1rem  #d2b8628a;
  border-radius: 10px;
  overflow: hidden;
  padding: 15px;
  transition: all ease 0.5s
}

.info:hover{
  box-shadow: 2px 2px 1rem  #d2b862;
}

.teccocina{
  display: flex;
  justify-content: space-around;
  align-items: start;
    
}

.color{
  color: #004e79;
  text-transform: capitalize;
  
}

.color1{
  color: #d2b862;
  text-transform: capitalize;
}

.descripcion, .row{
  width: 70%;
}

.img-fluid2 {
  width: 300px;
  height: 350px;
  border-radius: 10px;
  
  transition: all ease 0.5s;
}
  
.img-fluid2:hover {
  border-radius: 10px;
  transform: scale(1.07);
}
.img3{
  object-fit: cover;
  width: 290px;
}
.accordion-button{
  height: 50px;
}

.accordion-button:active{
  background-color: #d2b862;
  color: #d2b862;
}

.modulos{
  display: flex;
  justify-content: space-around;
}



/* footer */
#footer {
  background-color: #003857;
  color: white; 
}

.contenedorfoo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.cajafimg  .imgf{
  width: 150px;
  height: 170px;
  margin-top: 20px;
  border-radius: 100px 100px 100px 100px;
}

.cajafimg{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.contacto {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85%;  
  font-family: sans-serif; 
}

.contacto .ul1{
  height: 70px;
}

.contacto .direc{
  width: 300px; 
}

.contacto ul p{
  color: #d2b862;
  margin-bottom: 10px;
  font-size: 19px; 
}

.contacto .ul1 li{
  margin-left: 20px;
  margin: 5px;
  font-size: 16px;
}

.i-redes{
  display: flex;
  justify-content: center;
  align-items: start;
  height: 70px;
}

.iconos{
  display: flex;
  list-style: none;
}

.iconos a {
  display: block;
  width: 40px;
  height: 40px;
  color: #fff0bf;
  padding: 10px;
  margin: 10px;
  border-radius: 50%;
  transition: 0.5s ease;
}

.copyright {
  text-align: center;
  background-color: #d2b862; 

}

.span__span{
  color: #004e79;
}
/* footer */

@media (min-width: 2000px) {

  /*footer*/
  .contacto .direc{
    margin-right: -150px;
  }
  .contacto{
      font-size: 22px;
  }
  .contacto .ul1 ul li{
      font-size: 18px;
  }
  
  
}

@media (max-width: 1200px) {

  .teccocina{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .teccocina img{
    margin-bottom: 20px;
  }

  .color p{
    font-size: 24px;
    
    
  }


  .descripcion{
    width: 90%;
  }

  .color1{
    font-size: 25px;
  }

  .modulos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
}
@media (max-width: 1000px) {

  .teccocina{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .teccocina img{
    margin-bottom: 20px;
  }

  .color p{
    font-size: 24px;
    
  }


  .descripcion{
    width: 90%;
  
  }

  .color1{
    font-size: 25px;
  }

  .modulos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
}

@media (max-width: 900px) {

  .teccocina{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .teccocina img{
    margin-bottom: 20px;
  }

  .color p{
    font-size: 24px;
    
  }


  .descripcion{
    width: 90%;
  
  }

  .color1{
    font-size: 25px;
    
  }

  .modulos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /*footer*/
  .contenedorfoo{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
    }
  
    .cajafimg {
      display: flex;
      justify-content: center !important;
      width: 90% ;
      margin: 10px;
      margin-bottom: 50px !important;
    }
  
    .contacto{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      margin-bottom: 20px;
      font-size: 14px;
  
    }
  
    .contacto .ul1{
      display: flex;
      justify-content: start;
      flex-direction: column;
      width: 100% !important;
      height: 150px;  
        
    }
  
    .contacto .ul1 ul {
      width: 100% !important; 
      padding: 0;   
    }
  
    .contacto .ul1 ul li{
      font-size: 17px;
    }
  
    .contacto .direc li {
      margin-top: 20px;
      align-items: center;
    }
  
    .iconos  {
      margin-top: -25px;
    }
  
    .copyright{
      font-size: 7px;
    }

}

@media (max-width: 800px) {

/*footer*/
.contenedorfoo{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 15px;
  }

  .cajafimg {
    display: flex;
    justify-content: center !important;
    align-items: center;
    width: 90% ;
    margin: 10px;
  }

  .contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    font-size: 19px;

  }

  .contacto .ul1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70% !important;    
    margin-bottom: -30px;
    margin-left: 20px;  
  }

  .contacto .ul1 ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;    
    margin-bottom: 10px; 
  }

  .contacto .ul1 ul li{
    text-align: left;
    width: 100%;
    font-size: 16px;
  }

  .contacto .direc li {
    margin-top: 20px;
    align-items: center;

  }

  .iconos  {
    margin-top: -25px;
  }

  .copyright{
    font-size: 7px;
  }

  
}

@media (max-width: 700px) {

  /*footer*/
  .contenedorfoo{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
  }

  .cajafimg {
      display: flex;
      justify-content: center !important;
      align-items: center;
      width: 90% ;
      margin: 10px;
  }

  .contacto{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      margin-bottom: 20px;
      font-size: 19px;

  }

  .contacto .ul1{
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 90%;    
      margin-bottom: -30px;
      margin-left: 20px; 
      
  }

  .contacto .ul1 ul {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%;    
      margin-bottom: 10px; 
  }

  .contacto .ul1 ul li{
    font-size: 17px;
    text-align: left;
    width: 100%;
    font-size: 16px;
  }

  .contacto .direc li {
    margin-top: 20px;
    align-items: center;

  }

  .iconos  {
    margin-top: -25px;
  }

  .copyright{
    font-size: 7px;
  }
  
}

@media (max-width: 600px) {

  /*footer*/
  .contenedorfoo{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
  }

  .cajafimg {
      display: flex;
      justify-content: center !important;
      align-items: center;
      width: 90% ;
      margin: 10px;
  }

  .contacto{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 95%;
      margin-bottom: 20px;
      font-size: 18px;
      
  }

  .contacto .ul1{
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;    
      margin-bottom: -30px;
      margin-left: 20px; 
  }

  .contacto .ul1 ul {
    display: flex;
    align-items: center;
    width: 100%;    
    margin-bottom: 10px; 
  }

  .contacto .ul1 ul li{
    font-size: 16px;
    text-align: left;
    width: 100%;
    font-size: 16px;
  }

  .contacto .direc{
    margin-top: 20px;
  }

  .iconos  {
    margin-top: -25px;
    padding: 0px;
    margin: 0px;
  }

  .copyright{
    font-size: 7px;
  }
  
}

@media (max-width: 500px) {

  .titulos{
    font-size: 28px;
  }

  .color1{
    font-size: 21px;
    
  }

  /*footer*/
  
  .contenedorfoo{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
  }

  .cajafimg {
    display: flex;
    justify-content: center !important;
    align-items: center;
    width: 90% ;
    margin: 10px;
  }

  .contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    margin-bottom: 20px;
    margin-left: -100px;
    font-size: 18px;
      
  }

  .contacto .ul1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;    
    margin-bottom: -30px;
    margin-left: 20px !important; 
  }

  .contacto .ul1 ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;    
    margin-bottom: 10px; 
  }

  .contacto .ul1 ul li{
    text-align: left;
    width: 100%;
    font-size: 16px;

  }

  .contacto .direc{
    margin-top: 20px;
  }

  .iconos  {
    margin-top: -25px;
    padding: 0px;
    margin: 0px;
  }

  .copyright{
    font-size: 7px;
  }

}

@media (max-width: 400px) {

  .titulos{
    font-size: 23px;
  }

  .color1{
    font-size: 19px;
    
  }

  /*footer*/

  .contenedorfoo{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
  }

  .cajafimg {
    display: flex;
    justify-content: center !important;
    align-items: center;
    width: 90% ;
    margin: 10px;
  }

  .contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-left: 5px;
    margin-bottom: 20px;
      
  }

  .contacto .ul1{
    display: flex;
    flex-direction: column;
    width: 90% !important;   
    margin-bottom: -40px;
    

  }

  .contacto .ul1 ul {
    display: flex;
    width: 80% !important;  
    margin-bottom: 0px; 
    
  }

  .contacto .ul1 ul li {
    text-align: left;
    width: 100%;
    
  }

  .contacto .direc{
    margin-top: 20px;
  }

  .contacto .direc li{
    margin-bottom: 50px;
  }

  .iconos  {
    padding: 0px;
    margin: 0px;
  }

  .copyright{
    font-size: 7px;
  }
  
}

@media (max-width: 300px) {

  /*footer*/
  .contenedorfoo{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
  }

  .cajafimg {
    display: flex;
    justify-content: center !important;
    align-items: center;
    width: 90% ;
    margin: 10px;
  }

  .contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    margin-bottom: 20px;
     
  }

  .contacto .ul1{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    margin-left: -60px !important;
    margin-bottom: -20px !important;
    
  }

  .contacto .ul1 p{
    display: flex;
    width: 100px;    
    margin-bottom: 0px;
  }

  .contacto .ul1 ul {
      width: 100%;    
      margin-bottom: 0px;  
      
  }

  .contacto .ul1 ul li {
    text-align: left;
    width: 100%;
    
  }

  .contacto .direc{
    margin-top: 20px;
  }

  .contacto .direc li{
    text-align: center;
  }

  .iconos  {
    margin-top: -25px;
    padding: 0px;
    margin: 0px;
  }

  .copyright{
    font-size: 7px;
  }

}











